{% extends 'home/base_home.html' %}
{% load static %}
{% block title_header %}AADM E-Commerce{% endblock %}
{% block content_base_home %}
<div class="card shopping-cart">
    <div class="card-header bg-dark text-light position-relative">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Shopping cart
        <a href="{% url 'home:index' %}" class="btn btn-primary btn-sm position-absolute top-0 end-0" style="margin:5px 5px">Continue shopping</a>
        <div class="clearfix"></div>
    </div>
    <form  method="post" action="{% url 'product:update_cart'%}">
    {%csrf_token%}
    <div class="card-body">
            <!-- PRODUCT -->
            {%if user.is_authenticated%}
                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="row row-entry-{{item.id}}">
                            <div class="col-12 col-sm-12 col-md-2 text-center">
                                    <img class="img-responsive" src="media/{{item.product.cover}}" alt="prewiew" width="120" height="80">
                            </div>
                            <div class="col-12 text-center text-lg-start col-sm-12 col-md-6">
                                <h5 class="product-name"><strong>{{item.product.name}}</strong></h5>
                            </div>
                            <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                <div class="col-12 col-md-4 text-center text-md-right" style="padding-top: 5px">
                                    <h6><strong>{{item.product.price}} {{currency.value}} </strong></h6>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="quantity">
                                        <input type="button" value="+" class="plus">
                                        <input type="number" step="1" name="quantity_{{item.id}}" max="{{item.product.units}}" min="1" value="{{item.quantity}}" title="Qty" class="qty" size="4">
                                        <input type="button" value="-" class="minus">
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 text-end">
                                    <button type="button" class="btn btn-outline-danger btn-xs" onclick="deleteProduct({{item.id}})">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-entry-{{item.id}}">
                        <!-- END PRODUCT -->
                    {%endfor%}
                    <div class="text-end">
                        <div class="d-inline">
                            <button type="submit" href="" class="btn btn-outline-secondary pull-right">
                                Update shopping cart
                            </button>
                        </div>
                        <div class="d-inline " style="margin: 5px">
                            Total price: <b><span class="total_price">{{cart.total}}</span> {{currency.value}}</b>
                        </div>
                    </div>
                {%else%}
                    <span id="no-item-cart">THERE ARE NO ITEMS</span>
                {%endif%}
            {%else%}
            <div id="row_product_cart"></div>
            <div class="text-end"></div>
            {%endif%}
    </div>
    </form>
    <div class="card-footer">
        <div class="text-center" style="margin: 10px">
            {% if user.is_authenticated %}
                <input type="submit" href="" class="btn btn-success pull-right btn-checkout" value="Checkout">
            {% else %}
                <p>You must log in to proceed</p>
                <a class="btn btn-sm btn-primary" href="#">SIGN UP</a>
                <a class="btn btn-sm btn-secondary" href="{%url 'login'%}">LOGIN</a>
            {% endif %}
        </div>
    </div>
</div>	
{% endblock %}

{% block script_content %}
{% if user.is_authenticated %}
<script>
    function deleteProduct(idEntry) {
        var url = "{% url 'product:delete_entry' id=12345 %}".replace(/12345/, parseInt(idEntry));
        $.ajax({
              url: url,
              type: 'POST',
              data:{
                idEntry:idEntry,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(data) {
                data = JSON.parse(data); // converts string of json to object
                if(data.success == 1) {
                    $('.hr-entry-'+data.idEntry).remove();
                    $('.row-entry-'+data.idEntry).remove();
                    $('.total_price').text(data.cart.total);
                    var counter = $('#lblCartCount').text();
                    if(counter) {
                      counter = parseInt(counter);
                      if((counter-parseInt(data.quantity) == 0) ){
                        $('#lblCartCount').hide();
                      } else {
                        $('#lblCartCount').text(counter-parseInt(data.quantity));
                      }
                    }
                }
              }
        });
    }
</script>
{% else %}
<script>
    var total_cart = 0.0
    var products = get_cookie_cart();
   
    if(products) {
        var products_splitted = products.split(",");
        var html = `<div class="d-inline">
                        <a href="" class="btn btn-outline-secondary pull-right">
                            Update shopping cart
                        </a>
                    </div>
                    <div class="d-inline" style="margin: 5px">
                        Total price: <b><span class="total_price"></span> {{currency.value}}</b>
                    </div>`;
        $('.text-end').append(html);
        for (let i = 0; i < products_splitted.length; ++i) {
            var product_cart_info = products_splitted[i].split('|');
            var product_id = product_cart_info[0].slice(1);
            var quantity = product_cart_info[1].slice(0,-1);
            var product = getProduct(product_id,quantity,total_cart);
        }
    } else {
        $('.btn-checkout').attr("disabled", true);
    }

    function getProduct(idProduct,quantity,totalCart) {

        var url = "{% url 'product:product' id=12345 %}".replace(/12345/, parseInt(idProduct));
          $.ajax({
              url: url,
              type: 'POST',
              data:{
                  idProduct:idProduct,
                  cookie_cart:true,
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
              },
              success: function success_ajax(data) {
                  success_ajax.data = JSON.parse(data); // converts string of json to object
                  var html = `
                    <div class="row" id="shopping_cart_row-`+success_ajax.data.product.id+`">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="media/`+success_ajax.data.product.cover+`" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-center text-lg-start col-sm-12 col-md-6">
                            <h5 class="product-name"><strong>`+success_ajax.data.product.name+`</strong></h5>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-12 col-md-4 text-center text-md-right" style="padding-top: 5px">
                                <h6><strong><span id="price-product-`+success_ajax.data.product.id+`">`+success_ajax.data.product.price+`</span> {{currency.value}} </strong></h6>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus">
                                    <input type="number" step="1" max="99" min="1" value="`+quantity+`" title="Qty" class="qty"
                                        size="4">
                                    <input type="button" value="-" class="minus">
                                </div>
                            </div>
                            <div class="col-6 col-md-4 text-end">
                                <button type="button" class="btn btn-outline-danger btn-xs" onclick="deleteProduct(`+success_ajax.data.product.id+`)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr id="hr-entry-`+success_ajax.data.product.id+`">`;
                $('#row_product_cart').append(html);
                total_cart += Number((parseFloat(success_ajax.data.product.price)).toFixed(2));
                $('.total_price').text(total_cart);
              }
          });
    }
    function deleteProduct(idEntry) {

        var products = get_cookie_cart();
        var products_splitted = products.split(",");
        for (let i = 0; i < products_splitted.length; ++i) {
            var product_cart_info = products_splitted[i].split('|');
            var product_id = product_cart_info[0].slice(1);
            if(idEntry == product_id) {
                products_splitted.splice(i,1);
            }
        }
        var priceProduct = parseFloat($('#price-product-'+idEntry).text());
        var totalPriceOld = parseFloat($('.total_price').text());
        var totalPriceNew = totalPriceOld-priceProduct;
        $('.total_price').text(Number((totalPriceNew).toFixed(2)));

        $('#shopping_cart_row-'+idEntry).remove();
        $('#hr-entry-'+idEntry).remove();

        var counter = $('#lblCartCount').text();
        if(counter) {
            counter = parseInt(counter);
            if(counter==1){
            $('#lblCartCount').hide();
            } else {
            counter -=1;
            $('#lblCartCount').text(counter);
            }
        }
        if(products_splitted.length>0) {
            document.cookie = "cart="+products_splitted;
        } else {
            document.cookie = 'cart=; Max-Age=-99999999;';  
            $('.text-end').remove();
        }
        
    }
</script>
{% endif%}

{% endblock %}