{% extends 'home/base_home.html' %}
{% load static %}
{% block title_header %}AADM E-Commerce{% endblock %}
{% block content_base_home %}
<div class="row" id="products">
    <div class="section-title text-center"> 
        <span class="sub-title">Category</span>
      <h2><span>{{cat.name}}</span></h2>
    </div>
    {% if cat_items %}
    {%for product in cat_items %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-2 border-light box-shadow">
        <a href="{% url 'product:product' id=product.id %}"><img class="card-img-top" data-src="/media/{{product.cover}}" src="/media/{{product.cover}}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;"></a>
        <div class="card-body">
            <a href="{% url 'product:product' id=product.id %}"><p class="card-text card-text-name text-center">{{product.name}}</p></a>
            {%if product.price %}<p class="card-text text-center price_card">{{product.price}}{{currency.value}} {% if product.discount_price %}<span class="discounted_price_card">{{product.discount_price}} {{currency.value}}</span>{% endif %}</p>{% endif%}
            <p class="text-center"><button type="button" class="btn btn-sm btn-primary add-to-cart-{{product.id}}" onclick="addToCart({{product.id}})">Add to Cart</button></p>
        </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    No product in this category
    {% endif %}
</div>	
{% endblock %}
{% block script_content %}
{% endblock %}