{% extends 'home/base_home.html' %}
{% load static %}
{% block title_header %}ADM E-Commerce{% endblock %}
{% block content_base_home %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-home-01">
    <div class="col-md-5 p-lg-5 mx-auto my-5 bg-dark-rounded">
        <h1 class="display-4 fw-normal">Welcome!</h1>
        <p class="lead fw-normal">Shop our wide range of eco-friendly products
            Made by small independent brands.</p>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
        <h2 class="display-5">Organic Coconut Sugar</h2>
        <p class="lead">We all need a bit of sweetness in our lives. Our organic coconut sugar is a naturally rich, unrefined natural sweetener made from pure coconut sap. The sap is gently heated to obtain brown, sweet, crunchy sugar crystals that retain the goodness extracted from the coconut blossom.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
        <h2 class="display-5">Organic Lubricant</h2>
        <p class="lead">You like playing with fire, don’t you? So, let the fire begin!

            I’m all about stimulation. I harness the silky feel of aloe vera and the intense heat of ginger. My experience is smooth and warm. I boast an aphrodisiac aroma of ginger. Our aromas are always subtle.
 </p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div>
<div class="top_margin"></div>
<div class="row" id="products">
    <div class="section-title text-center"> 
        <span class="sub-title">Our Products</span>
      <h2><span>Top Recommended Products</span></h2>
    </div>
    {%for product in products %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-2 border-light box-shadow">
        <a href="{% url 'product:product' id=product.id %}"><img class="card-img-top" data-src="media/{{product.cover}}" src="media/{{product.cover}}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;"></a>
        <div class="card-body">
            <a href="{% url 'product:product' id=product.id %}"><p class="card-text card-text-name text-center">{{product.name}}</p></a>
            {%if product.discount_price %}
            <p class="card-text text-center price_card">{{product.discount_price}}{{currency.value}} 
                {% if product.discount_price %}
                <span class="discounted_price_card">{{product.price}} {{currency.value}}</span>
                {% endif %}
            </p>
            {% else %}
            <p class="card-text text-center price_card">{{product.price}}{{currency.value}} </p>
            {% endif%}
            
            <p class="text-center"><button type="button" class="btn btn-sm btn-primary add-to-cart-{{product.id}}" onclick="addToCart({{product.id}})">Add to Cart</button></p>
        </div>
        </div>
    </div>
    {% endfor %}
</div>	
{% endblock %}
{% block script_content %}
{% endblock %}