{% extends 'home/base_profile.html' %}
{% load static %}
{% block title_header %}{{user.username}} | ADM {% endblock %}
{%block content_profile%}
<div class="mt-4 mt-sm-4 mt-md-0">
    {%for order in orders %}
    {{order.entryOrder}}
    {% for product in order.entryOrder %}
        a
    {% endfor %}
        <div class="row mb-3 orders-table">
            <div class="col-md-8 themed-grid-col">Order #{{order.id}} <br> <span class="text-muted-white">Total: {{order.total}}{{currency.value}}</span></div>
            <div class="col-md-4 themed-grid-col"><div class="btn-primary button-orders">Delete Order</div></div>
        </div>
    {% endfor %}
</div>
{%endblock%}
{% block script_content %}
<script>
    $('.list-group-item-orders').addClass('active');
</script>
{% endblock %}