{% extends 'home/base_profile.html' %}
{% load static %}
{% block title_header %}Order #{{order.id}} | ADM {% endblock %}
{%block content_profile%}
<div class="mt-4 mt-sm-4 mt-md-0">
    <div class="row mb-3 orders-table"> 
        <div class="col-12 col-sm-12 col-md-4">
            {{request.user.first_name}}
        </div>
        <div class="col-12 col-sm-12 col-md-8">
            s
        </div>
    </div>
</div>
{%endblock%}
{% block script_content %}
<script>
    $('.list-group-item-settings').addClass('active');
</script>
{% endblock %}