/*
ADM Template (Boostrap)

Palette:
Main: #0061a8
secondary: #fbe0c4
third: #8ab6d6
fourth: #2978b5
*/

/* GENERAL */
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #EDAE6D;
}

/* COMPONENTS */
.link-secondary {
  color: #fbe0c4;
  text-decoration: none;
}
.link-secondary:hover {
  color: #8ab6d6;
}
.btn-primary {
  background: #8ab6d6;
  border: 1px solid #8ab6d6;
  color: #fff;
}
.btn-primary:hover {
  background: #333;
  border: 1px solid #333; 
}

.btn-secondary {
  background: #EDAE6D;
  border: 1px solid #EDAE6D;
  color: #fff;
}
.btn-secondary:hover {
  background: #333;
  border: 1px solid #333; 
}

.text-muted {
  color: #fbe0c4 !important;
}

.bg-light {
  background: #8ab6d6 !important;
}

.section-title {
  margin-top:30px;
  margin-bottom:30px;
}

.top_margin {
  margin-top:50px;
}

/* HEADER */
.blog-header {
  line-height: 2;
  background: #0061a8;
}

/* PRODUCTS LIST */
.clear_row {
  margin-bottom:120px;
}
.price_card {
  font-weight: 800; 
  font-size:20px; 
  margin-top:-16px;
}

.discounted_price_card {
  font-size:18px; 
  text-decoration: line-through; 
  color:rgba(51,51,51,0.4);
}

/* FOOTER */
footer {
  background-color: #0061a8;
}

