/*
ADM Template (Boostrap)

/* GENERAL */
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #EDAE6D;
}

/* COMPONENTS */
.main-color {
  color: #0061a8;
}
.second-color {
  color: #fbe0c4;
}
.third-color {
  color: #8ab6d6;
}
.fourth-color {
  color: #EDAE6D;
}

.link-secondary {
  color: #fbe0c4;
  text-decoration: none;
}
.link-secondary:hover {
  color: #8ab6d6;
}
.btn-primary {
  background: #8ab6d6;
  border: 1px solid #8ab6d6;
  color: #fff;
}
.btn-primary:hover {
  background: #333;
  border: 1px solid #333; 
}

.btn-secondary {
  background: #EDAE6D;
  border: 1px solid #EDAE6D;
  color: #fff;
}
.btn-secondary:hover {
  background: #333;
  border: 1px solid #333; 
}

.text-muted {
  color: #fbe0c4 !important;
}

.bg-light {
  background: #8ab6d6 !important;
}

.section-title {
  margin-top:30px;
  margin-bottom:30px;
}

.top_margin {
  margin-top:50px;
}


.list-group .active {
  background: #0061a8;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 13px;
    background: #ff0000;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -15px; 
    margin-top:-5px;
}

.quantity {
  float: left;
  margin-right: 15px;
  background-color: #eee;
  position: relative;
  width: 80px;
  overflow: hidden
}

.quantity input {
  margin: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 0;
  float: right;
  color: #000;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #F6F6F6
}

.quantity input.qty {
  position: relative;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 10px 25px 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  background-clip: padding-box
}

.quantity .minus, .quantity .plus {
  line-height: 0;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 6px 30px;
  -moz-background-size: 6px 30px;
  color: #bbb;
  font-size: 20px;
  position: absolute;
  height: 50%;
  border: 0;
  right: 0;
  padding: 0;
  width: 25px;
  z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
  background-color: #dad8da
}

.quantity .minus {
  bottom: 0
}
.shopping-cart {
  margin-top: 20px;
}

.bg-dark {
  background: #333 !important;
}
.cart_link {
  text-decoration: none;
}

/* HEADER */
.blog-header {
  line-height: 2;
  background: #0061a8;
}


/* PRODUCTS LIST */
.clear_row {
  margin-bottom:120px;
}
.price_card {
  font-weight: 800; 
  font-size:20px; 
  margin-top:-16px;
}

.discounted_price_card {
  font-size:18px; 
  text-decoration: line-through; 
  color:rgba(51,51,51,0.4);
}

/* FOOTER */
footer {
  background-color: #0061a8;
}

